@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html {
  background-image: url(/assets/bg-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-size: 16px;
  color: white;
}

.site-wrapper {
  padding: 24px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

h1 {
  font-size: 4rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

label {
  font-size: 0.875rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

section.text {
  text-align: center;
}
section.text .text-wrapper {
  padding: 1rem;
}
section.text .text-wrapper *:not(:last-child) {
  margin-bottom: 1rem;
}

section.form .form-container {
  padding: 1.6rem;
  background-color: rgba(255, 255, 255, 0.1960784314);
  border-radius: 16px;
}
section.form form.contact-form .form-element {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
section.form form.contact-form * {
  width: 100%;
}
section.form form.contact-form input, section.form form.contact-form select {
  height: 100%;
  padding: 20px;
  border-radius: 16px;
  border: #fff;
  font-size: 1.25rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}
section.form form.contact-form input[type=text]:focus {
  outline: auto;
  border: 2px solid #1500ff;
}
section.form form.contact-form input[type=text]::-moz-placeholder {
  color: #CDD5E0;
  font-size: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}
section.form form.contact-form input[type=text]::placeholder {
  color: #CDD5E0;
  font-size: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}
section.form form.contact-form input[type=button] {
  font-size: 1.25rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #4036A9;
}
section.form form.contact-form #message {
  height: 200px;
  text-wrap: wrap;
}
@media (hover: hover) {
  section.form form.contact-form input[type=button]:hover {
    background-color: #4036A9;
    color: #fff;
  }
}
@media (hover: none) {
  section.form form.contact-form input[type=button]:active {
    background-color: #4036A9;
    color: #fff;
  }
}

@media (max-width: 40rem) {
  section.text {
    font-size: 0.5rem;
  }
  section.text h1 {
    font-size: 4em;
  }
  section.text h2 {
    font-size: 2em;
  }
  section.form form.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.7rem;
  }
}
@media (min-width: 40.0625rem) {
  section.text {
    font-size: 0.5rem;
  }
  section.text h1 {
    font-size: 4em;
  }
  section.text h2 {
    font-size: 2em;
  }
  section.form {
    max-width: 75rem;
  }
  section.form form.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, cover);
    gap: 2rem;
  }
  section.form form.contact-form .form-element:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  section.form form.contact-form .form-element:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  section.form form.contact-form .form-element:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  section.form form.contact-form .form-element:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  section.form form.contact-form .form-element:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  section.form form.contact-form .form-element:nth-child(6) {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}/*# sourceMappingURL=main.css.map */